.popularCategoriesItems {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 30px;
    margin-left: 5px;
    margin-right: 0px;
  }
  .popularCategoriesCard {
    background-image: url(/assets/Popular\ Categories\ unselected\ category@2x.svg);
    background-size: cover;
    border-radius: 10px;
    width: 182px;
    height: 182px;
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.1s;
    margin-bottom: 40px;
    margin-top:1rem;
  }
  .bluebgcircle{
    width: 4rem;
    height: 4rem;
    background-color:#1171ca;
   background-size: 100%;
   background-repeat: no-repeat;
   text-align: center;
   border-radius: 50%;
  }
  .bluebgcircle img{
    margin: 6px 0px !important;
    margin-left: 0px !important;
  }
  .popularCategoriesCard:hover {
    background-image: url(/assets/Popular\ Categories\ selected\ category@2x.svg);
  }
  .popularCategoriesCard p {
    width: fit-content;
    font-size: 14px;
    padding-top: 12px;
    font-weight: lighter;
    font-weight: 800;
    padding-left: 10px;
    padding-right: 10px;
  }
  @media  screen and (max-width:857px) {
    .popularCategoriesItems {
      display: grid;
      grid-template-columns: auto auto;
    }
  }

  @media (max-width:480px) and (min-width:320px){
    .popularCategoriesItems{
      grid-template-columns: auto auto auto;
      justify-content: center;
      align-items: center;
    }
    .popularCategoriesCard {
      width: 108px;
      height: 108px;
      background-image: url(/assets/Popular\ Categories\ selected\ category@2x.svg);
    }
    .popularCategoriesCard p {
      font-size: 10px;
    }
    .popularCategoriesCard:hover {
      background-image: url(/assets/Popular\ Categories\ unselected\ category@2x.svg);
    }
  }